@import "./../../scss/common.scss";

.settings-item-title {
    font-weight: bold;
    font-size: 100%;
    .client-mobile & {
        font-size: 13px;
        padding-bottom: 8px;
    }
    .client-mobile.theme-default & {
        color: #605e5c;
    }
}

.settings-radio-item {
    .desktop-web & {
        padding: 0px 0px 8px 0px !important;
    }
}

.settings-radio-item-last {
    .desktop-web & {
        padding: 0px !important;
    }
}

.settings-indentation {
    .desktop-web & {
        @include resolve-dir(margin-left, 16px);
    }
}

.settings-item-margin {
    margin-bottom: 24px !important;
    .client-mobile & {
        margin-top: 14px !important;
        margin-bottom: 0px !important;
    }
}

.due-by-pickers-container {
    padding-top: 8px;
    padding-bottom: 16px;
}
